/*
    CLASES GENERALES
*/

* {
    font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #0000 18.75%, #366f80 0 31.25%, #0000 0), repeating-linear-gradient(45deg, #366f80 -6.25% 6.25%, rgba(170, 171, 210, 0.44) 0 18.75%);
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contenedorPrincipal {
    width: 100%;
    height: 100%;
    flex-direction: column;
}


/*
    CONTENEDOR DE INPUT DEL TEMA Y BOTON PARA ESTUDIAR
*/

.contenedorInput {
    margin-top: 20px;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    width: 50%;
    flex-direction: column;
}

@media (max-width: 768px) {
    .contenedorInput {
        width: 80%;
    }
}


/* 
    TITULO "QUE QUIERES ESTUDIAR?"
*/

#titulo {
    text-align: center;
    font-size: 20px;
}

@media (min-width: 768px) {
    #titulo {
        font-size: 40px;
    }
}


/* 
    INPUT PARA EL TEMA A ESTUDIAR
*/

#inputTema {
    margin-top: 10px;
    width: 50%;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 1px 1px 5px #c5c5c5, -1px -1px 5px #ffffff;
    transition: 0.3s;
}

#inputTema:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

@media (max-width: 768px) {
    #inputTema {
        height: 20px;
        width: 60%;
    }
}


/* 
    BOTON PARA ESTUDIAR
*/

.contenedorInput button {
    text-align: center;
    width: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #090909;
    padding: auto;
    font-size: 17px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 3px 3px 6px #c5c5c5, -3px -3px 6px #ffffff;
    cursor: pointer;
}

.contenedorInput button:active {
    color: #666;
    box-shadow: inset 3px 3px 6px #c5c5c5, inset -2px -2px 6px #ffffff;
}

@media (max-width: 768px) {
    .contenedorInput button {
        font-size: 15px;
        width: 30%;
    }
}


/*
    VENTANA DE CARGA
*/

#contenedorCarga {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: rgb(8, 13, 13, .4);
    z-index: 999;
}


/*
    ICONO DE CARGA
*/

#loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #5b5bee;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*
    PANTALLA DE INPUT PARA LA API KEY
*/

#contenedorApi {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    background-color: rgb(8, 13, 13, .4);
    z-index: 999;
}

#api {
    flex-direction: column;
}


/*
    CONTENEDOR DE API
*/

#api {
    width: 50%;
}


/*
    BOTON PARA ABRIR LA PANTALLA PARA LA API
*/

#botonApi {
    margin-top: 7px;
}


/*
    INPUT PARA EL API KEY
*/

#inputApiKey {
    margin-top: 10px;
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 1px 1px 5px #c5c5c5, -1px -1px 5px #ffffff;
    transition: 0.3s;
}

#inputApiKey:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

@media (max-width: 768px) {
    #inputApiKey {
        height: 20px;
        width: 60%;
    }
}


/*
    BOTON PARA CERRAR PANTALLA API
*/

#botonOcultarPantallaApi {
    text-align: center;
    width: 20%;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #090909;
    padding: auto;
    font-size: 17px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    transition: all .3s;
    box-shadow: 3px 3px 6px #c5c5c5, -3px -3px 6px #ffffff;
    cursor: pointer;
}

#botonOcultarPantallaApi:active {
    color: #666;
    box-shadow: inset 3px 3px 6px #c5c5c5, inset -2px -2px 6px #ffffff;
}

@media (max-width: 768px) {
    #botonOcultarPantallaApi {
        font-size: 15px;
        width: 30%;
    }
}


/* 
    CSS DE TARJETA REVERSIBLE
*/

.tarjeta {
    background-color: transparent;
    width: 300px;
    height: 250px;
    perspective: 1000px;
    margin-top: 10px;
}

.interiorTarjeta {
    position: relative;
    width: 90%;
    height: 90%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.tarjeta:hover .interiorTarjeta {
    transform: rotateY(180deg) scale(1.2);
    z-index: 998;
}

.pregunta,
.respuesta {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    flex-direction: column;
}

.pregunta {
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

.respuesta {
    background: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transform: rotateY(180deg);
    border-radius: 15px;
}

.cuerpoPregunta,
.cuerpoRespuesta {
    max-width: 90%;
}

.contenido {
    text-align: center;
}